@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

.search-bar {
  top: 0; 
  right: 20px; 
  position: absolute;
  margin-top: 65px;
  padding: 10px; 
  z-index: 1000; 
}
.search-bar input[type="text"] {
  padding: 5px;
  width: 200px; 
}

.search-button {
  margin-left: 10px ;
  border-radius: 10px;
  background-color: red; 
}

.search-input{
  font-size: large;
  font-family: 'Poppins', sans-serif;
}
.movie-title{
  font-family: 'Poppins', sans-serif;
  color: yellow;
  margin-left: 700px;
}

.list-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  list-style: none; 

  
}

.movie-item {
  flex: 0 0 calc(33.333% - 80px); 
  margin: 15px;
  padding: 10px;
  background-color: rgb(17, 17, 17);
  border-radius: 10px;
  text-align: center;

}

.movie-item img {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

.movie-title {
  font-family: 'Poppins', sans-serif;
  color: yellow;
  font-weight: bold;

}

.movie-item p {
  font-family: 'Poppins', sans-serif;
}

.logo{
  height: 80px;
  width: 80px;
  margin-left: 10px;
}

.suggestions-container {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;

}

.suggestions-list {
  display: flex;
  flex-wrap: wrap;
}

.suggestion {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: white;
  font-family: 'Poppins', sans-serif;

}

.second-header {
  color: red;
  /* margin-left: 600px; */
}
.footer{
  margin-bottom: 1px;
  text-align: center;
  margin-top: 30px;
}